{plugins, [agner_rebar_plugin]}.
{lib_dirs, ["deps/socket.io-erlang/deps", "deps/socket.io-erlang/deps/jsx/deps/","deps/socket.io-erlang/deps/ex_uri/deps"]}.
{erl_opts, [debug_info,
            {i,"deps/socket.io-erlang/deps/proper/include/"},
            {i,"deps/socket.io-erlang/deps/ex_uri/include/"},
            {d,'COMPILING_WITH_REBAR_AND_ERLC_HATES_DEPS'}
           ]}.
{post_hooks, [{'get-deps', "git submodule init"},
              {'get-deps', "git submodule update"},
              {'delete-deps', "rm -rf deps/socket.io-erlang/priv/Socket.IO/* deps/socket.io-erlang/priv/Socket.IO/.git*"}]}.
